body {
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#navBar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 158, 64);
  color: white;
  padding: 0% 1%;
  height: 60px;
  /* opacity: 0.4; */
  width: 100%;
  z-index: 999;
}

.myCanvas {
  /* overflow: hidden; */
  position: absolute;
  bottom: 0;
  right: 0;
}

form div {
  margin: 1em;
  display: inline-block;
}
