body {
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#navBar {
  display: flex;
  align-items: center;
  background-color: #ea6c1e;
  color: white;
  padding: 0% 1%;
  height: 60px;
  border-bottom: 5px solid black;
}

.canvas {
  overflow: hidden;
}

form div {
  margin: 1em;
  display: inline-block;
}
